body{
    background-color:#c6c2f9;
}

main{
  justify-content: center;
}

footer{
  justify-content: center;
}

.container-nav {
  display: flex;
  padding: 10px;
  height: 50px;
  background-color: black;
}
 .greeting{
  text-align: center;
 }

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.brand {
  display: flex;
  align-items: center;
}

li>a {
  padding: 8px 24px;
}


li {
  list-style-type: none;
}


a {
  color: white;
  text-decoration:none;
}


.nav-links {
  display: flex;
  align-items: center;
}


.button-menu-toggle {
  display: none;
}

h1{
    color: blue;
    background-color: #f0f38d;
    font-family: arial, helvetica;
    font-size: 40px;
    margin: 5px, 10px, 20px, 10px;
    border: black solid 2px;
    padding: 15px 10px;
    text-align: center;
  }

h2{
    color: rebeccapurple;
    background-color: #b4f4ab;
    font-family: arial, helvetica;
    font-size: 20px;
    margin: 5px 10px 5px 10px;
    text-align: center;
  }
p{
    color: #00008b;
    background-color: #f5e7e9;
    font-family: "Times New Roman", helvetica, arial;
    font-size: 15px;
    margin: 10px 10px 10px 25px;
  }
.clasefun{
    color: #e33bc7;
    background-color: #e8f891;
    font-family: "Times New Roman", helvetica, arial;
    font-size: 15px;
    margin: 10px 10px 10px 25px;
    border: 5px dotted rgb(125, 10, 156) ;
    padding: 15px 10px;
}

.box{
    background-color: lightgray;
    width: 300px;
    height: 150px;
    padding: 20px;
    border: 5px solid black;
    margin: 50px;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  }
  
  .column {
    flex: 1;
    padding: 10px;
  }


  @media (max-width: 768px) {
    .column {
      flex: 100%;
    }
  
  
    .nav-links {
      display: none;
    }
  
  
    .button-menu-toggle {
      display: block;
      background-color: white;
      border:none;
      border-radius: 50px;
      padding: 0 24px;
      font-family: monospace;
      font-weight: bold;
      font-size: 20px;
    }
   
    .nav-links.nav-links-responsive {
      position: absolute;
      display: flex;
      background-color: rgba(20,20,20,0.95);
      width: 100%;
      height: 100%;
      top: 70px;
      left: 0;
      flex-direction: column;
      padding-top: 200px;
      align-items: center;
      gap:70px;
      font-size: 40px;
  
  
    }
  }
